<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <a href="/">Home</a>
      <a href="/views/babbage.html">Babbage</a>
      <a href="berners-lee.html">Berners-Lee</a>
      <a href="clarke.html">Clarke</a>
      <a href="hamilton.html">Hamilton</a>
      <a href="hopper.html">Hopper</a>
      <a href="lovelace.html">Lovelace</a>
      <a href="turing.html">Turing</a>
    </nav>

    <header>
      <hr class="line" />
      <h1 class="title">Grace Murray Hopper</h1>
      <hr class="line" />
      <h2 class="sub-title">Heroes</h2>
    </header>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-front-back flip-card-front">
          <h2>Heroes Card</h2>
        </div>
        <div class="flip-front-back flip-card-back">
          <h1 class="back-title" style="font-size: 24px">
            Grace Murray Hopper
          </h1>
          <img src="/img/hopper.jpg" alt="Avatar" />

          <p class="text">
            Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de
            Arlington, 1 de enero de 1992) fue una científica de la computación
            y militar pionera en el mundo de las ciencias de la computación y la
            primera programadora que utilizó el Mark I.
          </p>
        </div>
      </div>
    </div>

    <footer>
      <h3>&copy Pablo Rey</h3>
    </footer>
  </body>
</html>
