<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav class="nav-bar">        
        <a href="/">Home</a>
        <a href="/views/babbage.html">Babbage</a>
        <a href="berners-lee.html">Berners-Lee</a>
        <a href="clarke.html">Clarke</a>
        <a href="hamilton.html">Hamilton</a>
        <a href="hopper.html">Hopper</a>
        <a href="lovelace.html">Lovelace</a>
        <a href="turing.html">Turing</a>
    </nav>
    
    <header>
        <h1 class="title">Trabajo practico N°4</h1>
        <hr class="line">
        <h2 class="sub-title">Heroes</h2>
    </header>
    <footer>
        <h3>
           &copy Pablo Rey
        </h3>
    </footer>
</body>
</html>